{% extends 'base.html' %}

{% load i18n %}
{% load uni_form_tags %}

{% block content %}
    <form method="post" action="" class="uniForm">
        {% csrf_token %}

        <div class="ctrlHolder">
            <h3>Изменение пароля</h3>
        </div>

        {{ form|as_uni_form }}

        <div class="ctrlHolder">
            <input type="submit" value="Изменить" />
        </div>
    </form>
    <script type="text/javascript">document.getElementById("id_old_password").focus();</script>
{% endblock %}
