{% extends "admin_tools/dashboard/module.html" %}

{% block module_content %}
    <table width="100%" id="sumtable">
        <tr>
            <td width="40%">Пользователей</td>
            <td>{{ module.users }}</td>
        </tr>
        <tr>
            <td>Пользователей</td>
            <td>{{ module.users }}</td>
        </tr>
        <tr>
            <td>Пользователей</td>
            <td>{{ module.users }}</td>
        </tr>
        <tr>
            <td>Пользователей</td>
            <td>{{ module.users }}</td>
        </tr>
    </table>
{% endblock %}
